<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HaloOnline.Research.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <HaloOnline.Research.Launcher.Properties.Settings>
      <setting name="UpdateServers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://primary.update.anvilonline.net/update.json</string>
            <string>https://secondary.update.anvilonline.net/update.json</string>
            <string>https://tertiary.update.anvilonline.net/update.json</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PublicKeys" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://git.anvilonline.net/pubkeys.json</string>
            <string>https://pubkeys.anvilonline.net/pubkeys.json</string>
          </ArrayOfString>
        </value>
      </setting>
    </HaloOnline.Research.Launcher.Properties.Settings>
  </userSettings>
</configuration>