<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs" />
  <targets async="true">
    <target name="simplefile" xsi:type="File" fileName="${logDirectory}/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${event-context:item=callerpath}:${event-context:item=callermember}(${event-context:item=callerline}) ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="simplefile" />
  </rules>
</nlog>